.App {
  /* background-image: linear-gradient(to right, #2d72de, #f44336); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#inputsection {
  width: 50%;
}

form {
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: rgba(74, 74, 74, 0.2) 4px 4px 4px 4px;
}

#weatherDetails {
  text-align: center;
  width: 70%;
}

#weekweather {
  display: flex;
  flex-direction: row;
}
#dayweather {
  width: 14%;
}

img {
  object-fit: contain;
  max-height: 100%;
  width: 74%;
}

.MuiGrid-root.MuiGrid-item {
  padding: 10px 0px;
}

.MuiOutlinedInput-root {
  position: relative;
  border: solid rgba(0, 0, 0, 0.1) 1px;
}
